<pre><code><%= @printer_log %></code></pre>
<%= form_for :clear_form, Routes.printer_path(@conn, :clear_print_queue), [method: "delete"], fn _ -> %>
  <%= submit "Rensa Skrivarkö", [class: "button btn-color theme-color"] %>
<% end %>
